.nesto {
    background-color: azure;
    color: red;
    font-family: 'Times New Roman';
}

.chiller {
    font-family: Chiller;
    color: red;
    font-size: 18px;
}

.trojkacentar {
    text-align: center;
}
/* od koga je i super je*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #5C4033;
    background-color: #F3F1E7;
    line-height: 1.6;
}

/* Header and Navigation */
header {
    background-color: #004225;
    color: #F3F1E7;
    padding: 1rem 0;
}

    header a {
        color: #F3F1E7;
        text-decoration: none;
    }

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
}

    nav a {
        color: inherit;
        font-weight: bold;
    }

/* Main Content Styling */
main {
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Tajawal', sans-serif;
    color: #004225;
}

h1 {
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    background-color: #5C4033;
    color: #F3F1E7;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Utility Classes */
.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.text-center {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}


