.nesto
{
    background-color:azure;
    color:red;
    font-family:'Times New Roman';
}
.chiller {
    font-family: Chiller;
    color: red;
    font-size:18px;
}
.trojkacentar
{
    text-align:center;
}
/* od koga je i super je*/